block header
header.main-header
      .container
        .row.h-100
          .col-6.text-center.h-100.align-middle
            h1.display-1= message
            p.lead
              | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium doloribus, atque culpa corporis quisquam neque ullam sint voluptate nam illum laborum eaque, voluptatem veniam quae mollitia dolor. Eligendi, nemo nam!
            p.lead adios
          .col-6.h-100
            h1 hol
            h2 rocio
            h1 hola que tal
            p
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ipsa velit minima ipsum, beatae deserunt laboriosam laudantium officiis dolore laborum aspernatur incidunt dolorem suscipit ipsam atque eos! Eveniet, corrupti nobis.